@import "~antd/dist/antd.css";
:root {
  --main-bg-color: rgb(35, 49, 112);
  --secondary-bg-color: whitesmoke;
}

.ant-layout-footer {
  background: var(--secondary-bg-color);
}
.ant-layout-header--white {
  color: var(--secondary-bg-color);
  background-color: var(--main-bg-color);
}
.ant-layout-content--custom {
  background: var(--secondary-bg-color);
  padding: 25px 50px;
}
.search__form {
  margin-bottom: 25px;
}
.form__button {
  background: var(--main-bg-color);
  color: var(--secondary-bg-color);
}
